* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;



}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #ffffff;
    width: 1440px;
    height: 80px;

}

.menu-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    margin-top: 10px;

}

.text-logo {
    margin-top: 5px;
}

.imglogo {
    display: flex;
    justify-content: center;
    padding-right: 15px;

}

.menu-center {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #667085;
}

.menu-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.menu-right-text {
    margin-bottom: 5px;
    margin-right: 5px;
}

.button-nav {

    margin-bottom: 8px;
    text-align: center;
    padding: 10px 18px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #8E2424;
    background: #8E2424;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

}

.button-text {
    color: white;
}

.header-second {
    background-color: #ffffff;
    height: 407px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.text-header {
    margin-bottom: 35px;
    color: #8E2424;
    font-weight: 600;
}

.title-principal {
    font-family: Inter;
    font-size: 48px;
    color: #101828;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
    margin-bottom: 25px;
}

#text {
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #667085;
    width: 49%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container-second {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    justify-content: center;
    height: 288px;

}

.box {
    width: 18%;
    text-align: justify;
    padding: 5px;
}

.text-red {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
    color: #8E2424;
}

.text-p {
    font-family: Inter;
    color: #101828;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.text-p2 {
    font-family: Inter;
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}